

.footer-wrapper {
  max-height: 150px;
  padding: 70px 56px;
  background-color: rgba(0, 0, 0, 0.75);
}

.footer-title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 50px;
}

.footer-row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.footer-column {
  display: flex;
  flex-direction: column;
  
}

.footer-link {
  color: #686565;
  margin-bottom: 20px;
  font-size: 13px;
}
